* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, input, textarea, button {
  font-family: 'Karla', sans-serif;
}

*:focus {
  outline: none;
  border: 2px solid #000;
}


::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: #F5DB13; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ab9700; 
}


